.header {
    background: black;
}

.header .wrapper {
    display: flex;
    justify-content: space-around;
}

.header__menu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__menu-item {
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    background-color: white;
    a {
        color: black;
    }
}